.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: white;
    /*border-bottom: 1px solid lightgray;*/
    z-index: 1;
    align-items: baseline;
}

.underline {
    position: relative;
    padding: 5px;
    color: gray;
}

.underline:hover {
    cursor: pointer;
}

.underline:before {
    content: "";
    transform: scaleX(0);
    width: 100%;
    position: absolute;
    border-bottom: 2px solid #535bf2;
    transition: transform 0.25s ease-out;
    transform-origin: left;
    bottom: -5px;
    left: 0;
}

.underline:hover:before {
    transform: scaleX(1);
}