.auth-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    padding: 4rem;
    box-shadow: 0 0 20px #ececec;
    border-radius: 10px;
}

.login-input {
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    position: relative;
    border: 1px solid #ccc;
}